<div class="container">

  <div class="mt-3">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="mb-2">
        <a class="btn btn-outline-secondary {{#if customerId}}{{else}}active{{/if}}" href="/warehouse/partnumbers" role="button">全部 {{CustomerId}}</a>
        {{#each customers}}
        <a class="btn btn-outline-secondary {{#ifCond this.id ../customerId}}active{{/ifCond}}" href="?customerId={{this.id}}" role="button">{{this.name}}</a>
        {{/each}}
      </div>

      <div class="mb-2">
        <a class="btn btn-warning mr-2" href="/warehouse/warehousing" role="button">新增入庫</a>
        <a class="btn btn-success" href="/warehouse/shipping" role="button">新增出庫</a>
      </div>
    </div>

    <div>
      {{#if success_messages}}
      <div class="alert alert-success mx-5 mb-3" role="alert" style="margin: 5px 0 ; text-align: center;">{{success_messages}}</div>
      {{/if}}
      <table class="table table-hover table-bordered table-dark">
        <thead>
          <tr class="table-active" style="text-align: center;">
            <th scope="col">品番</th>
            <th scope="col">在庫數量</th>
            <th scope="col">備註</th>
            <th scope="col">安全庫存</th>
          </tr>
        </thead>
        {{#each partNumbers}}
        <tbody>
          <tr style="text-align: center;">
            <th scope="row">{{this.name}}</th> {{!--品番--}}
            <td class="{{#ifCheckSafety this.quantity this.safetyStockQuantity}} bg-danger {{/ifCheckSafety}}">{{this.quantity}}</td> {{!--在庫數量--}}
            <td>{{#if this.commonName}} 【{{this.commonName}}】 {{/if}}</td> {{!--備註--}}
            <td>{{this.safetyStockQuantity}}</td> {{!--安全庫存--}}
          </tr>
          {{#if this.subPartNumbers}}
          {{#each this.subPartNumbers}}
          <tr style="text-align: center;">
            <th class="py-1" scope="row">{{this.name}}</th> {{!--品番--}}
            <td class="py-1 {{#ifCheckSafety this.quantity this.safetyStockQuantity}} bg-danger {{/ifCheckSafety}}">{{this.quantity}}</td> {{!--在庫數量--}}
            <td class="py-1">{{#if this.commonName}} 【{{this.commonName}}】 {{/if}}</td> {{!--備註--}}
            <td class="py-1">{{this.safetyStockQuantity}}</td> {{!--安全庫存--}}
          </tr>
          {{/each}}
          {{/if}}
        </tbody>
        {{/each}}
      </table>
    </div>
  </div>
</div>