<div class="container-fluid">

  <div class="d-flex flex-row justify-content-around align-items-center mt-3">
    <div class="mb-2">
      <a class="btn btn-outline-secondary {{#if customerId}}{{else}}active{{/if}}" href="/warehouse/partnumbers" role="button">全部 {{CustomerId}}</a>
      {{#each customers}}
      <a class="btn btn-outline-secondary {{#ifCond this.id ../customerId}}active{{/ifCond}}" href="?customerId={{this.id}}" role="button">{{this.name}}</a>
      {{/each}}
    </div>

    <div class="mb-2">
      <a class="btn btn-warning mr-2" href="/warehouse/warehousing" role="button">新增入庫</a>
      <a class="btn btn-success" href="/warehouse/shipping" role="button">新增出庫</a>
    </div>
  </div>

  <div class="mx-5">
    {{#if success_messages}}
    <div class="alert alert-success mx-5 mb-3" role="alert" style="margin: 5px 0 ; text-align: center;">{{success_messages}}</div>
    {{/if}}
    <div class="row">
      <div class="col-7">
        <table class="table table-striped table-hover table-bordered table-dark">
          <thead>
            <tr class="table-active" style="text-align: center;">
              <th scope="col">
                <h4>品番</h4>
              </th>
              <th scope="col">
                <h4>在庫數量</h4>
              </th>
              <th scope="col">
                <h4>備註</h4>
              </th>
              <th scope="col">
                <h4>安全庫存</h4>
              </th>
            </tr>
          </thead>

          <tbody>
            {{#each partNumbers}}
            <tr style="text-align: center;">
              <th scope="row">{{this.name}}</th> {{!--品番--}}
              <td class="{{#ifCheckSafety this.quantity this.safetyStockQuantity}} bg-danger {{/ifCheckSafety}}">{{this.quantity}}</td> {{!--在庫數量--}}
              <td>{{#if this.commonName}} 【{{this.commonName}}】 {{/if}}</td> {{!--備註--}}
              <td>{{this.safetyStockQuantity}}</td> {{!--安全庫存--}}
            </tr>
            {{#if this.subPartNumbers}}
            {{#each this.subPartNumbers}}
            <tr style="text-align: center;">
              <th class="py-1 text-info" scope="row">{{this.name}}</th> {{!--品番--}}
              <td class="py-1 {{#ifCheckSafety this.quantity this.safetyStockQuantity}} bg-danger {{/ifCheckSafety}}">{{this.quantity}}</td> {{!--在庫數量--}}
              <td class="py-1">{{#if this.commonName}} 【{{this.commonName}}】 {{/if}}</td> {{!--備註--}}
              <td class="py-1">{{this.safetyStockQuantity}}</td> {{!--安全庫存--}}
            </tr>
            {{/each}}
            {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="col-5">
        <div>
          <h5 class="text-light">歷史紀錄</h5>
          <table class="table table-sm table-secondary table-striped table-hover">
            <thead>
              <tr class="table-active" style="text-align: center;">
                <th scope="col">
                  <h4>日期</h4>
                </th>
                <th scope="col">
                  <h4>品番</h4>
                </th>
                <th scope="col">
                  <h4>入庫</h4>
                </th>
                <th scope="col">
                  <h4>出庫</h4>
                </th>
                <th scope="col">
                  <h4>餘存</h4>
                </th>
                <th scope="col">
                  <h4>備註</h4>
                </th>
              </tr>
            </thead>

            <tbody>
              {{!-- {{#each partNumbers}} --}}
              <tr style="text-align: center;">
                <th scope="row">2022/1/21</th> {{!--日期--}}
                <td>XC9624051</td> {{!--品番--}}
                <td>300</td> {{!--入庫--}}
                <td></td> {{!--出庫--}}
                <td>600</td> {{!--餘存--}}
                <td>12321</td> {{!--備註--}}
              </tr>
              <tr style="text-align: center;">
                <th scope="row">2022/1/21</th> {{!--品番--}}
                <td>XC9624051</td> {{!--在庫數量--}}
                <td></td> {{!--備註--}}
                <td>300</td> {{!--安全庫存--}}
                <td>300</td>
                <td>12321</td>
              </tr>
              {{!-- {{/each}} --}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>



</div>