<div class="container mt-5">
  {{#if customer}}
  <form class="form-signin border border-secondary rounded p-4 m-auto" action="/manager/customers/{{customer.id}}?_method=PUT" method="POST" style="width: 50%; background-color: rgb(26, 21, 48);">
    {{else}}
    <form class="form-signin border border-secondary rounded p-4 m-auto" action="/manager/customers/create" method="POST" style="width: 50%; background-color: rgb(26, 21, 48);">
      {{/if}}
      <div class="text-center mb-4">
        {{#if customer}}
        <h3 class="mb-3 font-weight-normal text-white">修改発注人資料</h3>
        {{else}}
        <h3 class="mb-3 font-weight-normal text-white">新增発注人</h3>
        {{/if}}
      </div>
      <div class="text-center">
        {{#if error_messages}}
        <div class="alert alert-danger" role="alert" style="margin: 5px 0 ;">{{error_messages}}</div>
        {{/if}}
      </div>
      <div class="form-label-group text-white">
        <label for="inputName">発注人<span class="text-danger" style="font-size: 10px;">(必填)</span></label>
        <input type="text" name="name" class="form-control" placeholder="名稱" value="{{customer.name}}" required autofocus>
      </div>
      <div class="form-label-group text-white mt-4">
        <label for="inputPassword">地址</label>
        <input type="text" name="address" class="form-control" placeholder="" value="{{customer.address}}">
      </div>
      <div class="form-label-group text-white mt-4">
        <label for="inputPassword">電話</label>
        <input type="text" name="tel" class="form-control" placeholder="" value="{{customer.tel}}">
      </div>
      <div class="form-label-group text-white mt-4">
        <label for="inputPassword">傳真</label>
        <input type="text" name="fax" class="form-control" placeholder="" value="{{customer.fax}}">
      </div>
      <div class="form-label-group text-white mt-4">
        <label for="inputPassword">圖片</label>
        <input type=" text" name="photo" class="form-control" placeholder="連結" value="{{customer.photo}}">
      </div>
      <br />
      <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
    </form>

</div>