<div class="container-fluid px-0">
  <div class="card mb-3 mx-1 text-white" style="background-color: rgb(26, 21, 48);">
    <div class="row no-gutters my-3">
      <div class="col-md-4" style="text-align: center;">
        <img style="width: 176px; height: 159px;" src="{{customer.photo}}" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{customer.name}}</h5>
          <p class="card-text mb-1">地址: {{customer.address}}</p>
          <p class="card-text mb-1">Tel: {{customer.tel}}</p>
          <p class="card-text mb-1">Fax: {{customer.fax}}</p>
        </div>
      </div>
    </div>

    <div class="mt-5" style="flex-grow: 1;">
      <div class="m-auto" style="max-width: 90%;">
        <h3 class="text-warning">近期動作</h3>
        <table class="m-auto text-white border border-secondary" style="width: 100%">
          <tr class="border border-secondary" style="background-color: rgb(0, 15, 146);">
            <th>日期</th>
            <th>部品番號</th>
            <th>入庫</th>
            <th>出庫</th>
            <th>備註</th>
            <th>在庫數</th>
          </tr>
          <tr>
            <td>施工中...</td>
          </tr>
          {{!-- <tr class="border border-secondary">
            <td>01/15</td>
            <td>XC1234001</td>
            <td class="text-warning">25</td>
            <td></td>
            <td></td>
            <td>餘數: 25</td>
          </tr>
          <tr class="border border-secondary">
            <td>01/16</td>
            <td>XC1234001</td>
            <td></td>
            <td class="text-success">100</td>
            <td></td>
            <td>餘數: 0</td>
          </tr> --}}
        </table>
      </div>
    </div>

  </div>
</div>